
    <link rel="stylesheet" href="style.css">

    <div class="login">
     
        <form action="/verify" method="post">
        <input type="text" placeholder="Username" name="username" id="username">
        <input type="password" placeholder="password" name="password" id="password">
        <div class="forgot">{{msg}}</div>
        <input type="submit" value="Sign In">
        <div class="text-danger"></div>
        </form>
    </div>
<div class="shadow"></div>

